:root {
    --asu-maroon   : #8C1D40;
    --asu-gold     : #FFC627;
    --asu-black    : #000000;
    --asu-white    : #FFFFFF;
    --asu-green    : #78BE20;
    --asu-blue     : #00A3E0;
    --asu-orange   : #FF7F32;
    --asu-grey     : #8C8C8C;
    --asu-copper   : #AF674B;
    --asu-turquoise: #4AB7C4;
    --asu-pink     : #E74973;
    --asu-font     : Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--asu-font);
    color: var(--asu-black);
    margin: 0;
}

body {
    background-color: var(--asu-grey);
}

/* div {
    border: 2px solid orange;
} */

#header {height: 10vh;}
#main {height: 78vh;}
#footer {height: 10vh;}

#header, #footer {
    display: flex;
    justify-content: center;
    align-items: center
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1vh;
    padding: 1vh;
}

#result {
    grid-column: 1 / -1;
    text-align: right;
    padding-right: 1vh;
    background-color: var(--asu-white);
}

#clear {
    grid-column: span 2;
    background-color: var(--asu-green);
}

#zero {
    grid-column: span 3;
}

button, #result {
    font-size: 5vh;
    border: 0.5vh solid var(--asu-gold);
    border-radius: 3vh;
}

button.num {
    background-color: var(--asu-copper);
}

button.op {
    background-color: var(--asu-maroon);
}